name: "CI (Integração Continua): Primeira Action"

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize]

  workflow_dispatch:


jobs:
  exemplo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Installation
        run: yarn install

      - name: Run Linter
        run: yarn lint